@using WeatherSampleApp.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Weather</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<!--
<script src="~/Scripts/lib/respond.min.js"></script>
<script src="~/Scripts/lib/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/lib/knockout-3.3.0.js"></script>
<script src="~/Scripts/lib/knockout-mapping-2.4.1.js"></script>
<script src="~/Scripts/lib/respond.min.js"></script>
<script src="~/Scripts/app/views/home/home.js"></script>
<script src="~/Scripts/app/views/home/homeViewModel.js"></script>
    -->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Weather", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Search", "Index", "WeatherSearch")</li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My Weather</p>
    </footer>
</div>
<script src="~/Scripts/lib/require.min.js"></script>
<script>
    //require(['scripts/app/common.js']);
    //require(['scripts/app/views/home/home.js']);
    @Html.ViewSpecificRequireJs();
</script>
</body>
</html>
